@import "_function.scss";
$bgColorButton: #aeafb2;
$bgColorButtonActive: #5f6062;
$bgColorWorkImg: #7d8285;
$ftColorTimeLine: #7e7e7e;
$ftColorTimeLineHover: #474748;
a,
body,
dd,
div,
dl,
dt,
h3,
li,
span,
textarea,
ul {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei",Arial,sans-serif;
  box-sizing: border-box;
}
a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.min-width {
  // min-width: 1000px;
}
.hide{
  display: none;
}
.index-img {
  position: relative;
  display: inline-block;
  height: inherit;
  background: url("../img/feet.png") 50% 50% no-repeat;
  background-size: cover;
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
  @include screenFit(width, calc(100% - 200px),calc(100% - 300px),calc(100% - 400px));
  .img-float {
    position: absolute;
    width: 90%;
    height: 90vh;
    left: 5%;
    top: 5vh;
    padding: 50px;
    background-color: rgba(255, 255, 255, .8);
    opacity: 0;
    border-radius: 10px;
    transition: all 0.5s;
  }
  &:hover .img-float {
    opacity: 1;
  }
}
.aside {
  position: relative;
  // overflow: hidden;
  display: inline-block;
  vertical-align: top;
  height: inheiit;
  @include screenFit(width, 200px, 300px, 400px);
  ul.side-nav {
    list-style: none;
    li {
      display: block;
      margin: 3px 0;
    }
  }
  .side-img {
    width: 100%;
    height: calc(100vh - 200px);
    background: url("../img/xiangjing.png") 50% 50% no-repeat;
    background-size: 60% 60%;
  }
  a.btn {
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background-color: $bgColorButton;
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, .5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
    &.active,
    &:hover {
      background-color: $bgColorButtonActive;
    }
  }
}
.time-logo {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/xiangjing2.png") no-repeat;
  width: 243px;
  height: 195px;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.time-line {
  margin-top: 50vh;
  width: 1000%;
  height: 50vh;
  border-top: 2px solid $ftColorTimeLine;
  box-shadow: 0 -4px 10px -6px rgba(0,0,0,.5),0 4px 10px -6px rgba(0,0,0,.5) inset;
  // transform: translateX(-20px);
  // transition: all .3s;
  .line-node {
    float: left;
    margin-left: 80px;
    color: $ftColorTimeLine;
    width: 100px;
    dt {
      position: relative;
      font-size: 20px;
      padding-top: 10px;
      span.node-circle {
        position: absolute;
        display: inline-block;
        top: -10px;
        left: 20px;
        width: 20px;
        height: 20px;
        background-color: $ftColorTimeLine;
        border-radius: 100px;
        box-shadow: 0 0 10px -2px rgba(0,0,0,.5);
        transition: all 0.5s;
      }
      .node-time {
        transition: all 0.5s;
      }
    }
    dd {
      margin-top: 5px;
      opacity: 0;
      transform: scale(2);
      transition: all 0.5s;
      a {
        display: inline-block;
        color: $ftColorTimeLine;
        font-size: 18px;
        transition: all 0.5s;
        text-indent: -1rem;
        &:hover {
          color: $ftColorTimeLineHover;
          text-indent: 0;
          i {
            opacity: 1;
          }
          // padding-left: 10px;
        }
        i {
          opacity: 0;
          display: inline;
          transition: all 0.5s;
        }
      }
    }
    &:hover {
      dt {
        .node-circle {
          background-color: $ftColorTimeLineHover;
        }
        .node-time {
          color: $ftColorTimeLineHover;
        }
      }
      dd {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
.container {
  section {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    overflow: hidden;
    transition: all 0.5s;
    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        @if $i == 1 {
          left: -100%;
          background: radial-gradient($bgColorWorkImg, darken($bgColorWorkImg, 30));
          background: -webkit-radial-gradient($bgColorWorkImg, darken($bgColorWorkImg, 30));
          background: -moz-radial-gradient($bgColorWorkImg, darken($bgColorWorkImg, 30));
          background: -o-radial-gradient($bgColorWorkImg, darken($bgColorWorkImg, 30));
        }
        @else {
          left: 100%;
          background: $bgColorWorkImg;
        }
        &.active {
          left: 0;
        }
      }
    }
  }
}
.work-img {
  position: relative;
  width: 100%;
  height: inherit;
  text-align: center;
  z-index: 0;
  img {
    height: inherit;
  }
}
.float-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
  .float-commit {
    position: absolute;
    top: 0;
    right: 0;
    ul {
      list-style: none;
      li{
        display: table-cell;
        height: 100px;
        width: 100px;
        border-radius: 999px;
        color: rgba(0,0,0,0.8);
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        transition: all .5s;
        &:hover{
          color: rgba(0,0,0,1);
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .comment-form {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    opacity: 0;
    transition: all .5s;
    a {
      position: absolute;
      top: 0;
      right: 0.5rem;
      color: #fff;
      font-size: 2rem;
      opacity: 0.7;
      transition: all 0.5s;
      &:first-child {
        right: 1rem;
        transform: translateX(-100%);
      }
      &:hover {
        opacity: 1;
      }
    }
    textarea {
      display: block;
      width: 100%;
      height: 100%;
      padding: 3rem 2rem;
      font-size: 1rem;
      line-height: 1.5;
      background: none;
      outline: none;
      resize: none;
      color: rgba(255, 255, 255, .9);
    }
  }
  .bottom-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    ul {
      list-style: none;
      font-size: 0;
      li {
        display: inline-block;
        font-size: 3.5rem;
        padding: 0 10px 10px;
        cursor: pointer;
        color: #fff;
        opacity: 0.7;
        transition: all 0.5s;
        &:hover {
          opacity: 1;
        }
        a{
          color: #fff;
        }
      }
    }
  }
  .to-reprod {
    position: absolute;
    right: -80px;
    bottom: -80px;
    width: 160px;
    height: 160px;
    border: 80px solid;
    border-color: rgba(255, 255, 255, 0.8) transparent transparent rgba(255, 255, 255, 0.8);
    border-radius: 999px;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      border-color: rgba(255, 255, 255, 1) transparent transparent rgba(255, 255, 255,1);
      i {
        color: rgba(0, 0, 0, 1);
      }
    }
    i {
      display: block;
      margin-left: -42px;
      margin-top: -50px;
      transition: all 0.5s;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
.to-work {
  position: absolute;
  left: -80px;
  bottom: -80px;
  width: 160px;
  height: 160px;
  border: 80px solid;
  border-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255,0.8) transparent transparent;
  border-radius: 999px;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255,1) transparent transparent;
    i {
      color: rgba(0, 0, 0, 1);
    }
  }
  i {
    margin-top: -50px;
    display: block;
    margin-left: 8px;
    transition: all 0.5s;
    color: rgba(0, 0, 0, 0.8);
  }
}

ul.rep-list{
  width: inherit;
  height: inherit;
  list-style: none;
  padding: 50px;
  li.list-item{
    width: 200px;
    height: 200px;
    background-color: #fff;
    float: left;
    margin: 50px;
    position: relative;
    overflow: hidden;
    &:hover{
      .float-message{
        bottom: 0;
      }
    }
    .float-message{
      background: #191716;
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: -30px;
      left: 0;
      padding: 0 26px 0 10px;
      transition: all .5s;
      .author{
        color: #fff;
        line-height: 30px;
        height: 30px;
      }
      i{
        position: absolute;
        right: 10px;
        top: 0;
        line-height: 30px;
        height: 30px;
        color: #fff;
        &.heart-like{
          color: red;
        }
      }
    }
  }
}
